<footer class="offcanvas-bottom border-top">
    <ul class="nav py-4 justify-content-center">
        <li class="nav-item border-bottom d-flex flex-wrap justify-content-center">
            <a href="mailto:ANONYMIZED" rel="nofollow" target="_blank" class="d-inline-flex p-2"><i class="bi bi-envelope me-1"></i>Mail</a>
    </li>
    </ul>
    <p class="text-center text-muted">© 2024 ANONYMIZED</p>
    <div class="d-flex flex-wrap justify-content-center">
        <a href="{% url 'admin:index' %}" rel="nofollow" target="_blank" class="small text-muted d-inline-flex p-1">Django Admin</a>
        <a href="https://pgadmin.ctf.anonymized.net" rel="nofollow" target="_blank" class="small text-muted d-inline-flex p-1">PgAdmin</a>
    </div>
</footer>
