{% extends "main/base.html" %}
{% load static %}

{% block title %}
ANONYMIZED - CTF Website - Scenario
{% endblock %}
{% block title2 %}
ANONYMIZED - CTF Website - Scenario
{% endblock %}

{% block description %}
{% endblock %}

{% block keywords %}
Network Security Research, Intrusion Detection, Incident Response, Digital Forensics, ANONYMIZED
{% endblock %}

{% block opengraph %}
{% endblock %}

{% block preload %}
<link rel="preload" href="{% static 'js/scenario.js' %}" as="script" type="application/javascript">
{% endblock %}

{% block content %}
<div class="row row-cols-auto">
  <div class="col-sm-8">
    <div class="container-sm">
      <h2 class="pt-4 mx-3">Scenario - {{ scenario.title }}</h2>
      <p class="mx-3">{{ scenario.description }}</p>
      <p class="mx-3">Download the PCAP using the link below{% if scenario.details_pdf %} or view the handout using the other link{% endif %} for more details on what you should detect with your signature.</p>
      <a href="{{ scenario.pcap.pcap.url }}" rel="nofollow" target="_blank" class="m-3 lead text-white" data-bs-toggle="tooltip" data-bs-placement="right" title="Click here to download the scenario PCAP and to investigate the behavior you should detect."><i class="bi bi-ethernet me-1"></i>PCAP</a>
      {% if scenario.details_pdf %}
        <a href="{{ scenario.details_pdf.url }}" rel="nofollow" target="_blank" class="m-3 lead text-white" data-bs-toggle="tooltip" data-bs-placement="right" title="Click here to download the scenario handout and to get a detailed description of the scenario."><i class="bi bi-file-pdf me-1"></i>Handout</a>
      {% endif %}
    </div>
    <form id="form" method="post" action="{% url 'main:submit' scenario.id %}">
      {% csrf_token %}
      <div class="container-fluid">
        <div class="row row-cols-auto d-flex align-items-stretch">
          <div class="col-12 col-sm-6">
              <label class="lead p-2" for="rule">Input Rule</label>
              <textarea class="form-control" style="min-height:200px" autofocus onkeyup="return manageButton(event)" onchange="return manageButton(event)" spellcheck="false" data-gramm="false" wrap="soft" id="rule" data-bs-toggle="tooltip" data-bs-placement="top" title="Write your rule together with supporting rules here." placeholder="alert ...">{% if last_checked_rule %}{{ last_checked_rule }}{% endif %}</textarea>
          </div>
          <div id="formatted-rule-div" class="col-12 col-sm-6 {% if last_submitted_rule == None %}invisible{% endif %}">
            <label class="lead p-2" for="formatted-rule">Formatted Checked Rule</label>
            <div class="border overflow-auto text-nowrap opacity-75" style="min-height:200px" id="formatted-rule" data-bs-toggle="tooltip" data-bs-placement="top" title="When you check a rule, a formatted version of your rule will appear in this field.">{% if last_checked_rule_formatted %}{{ last_checked_rule_formatted |safe }}{% endif %}</div>
          </div>
        </div>
        <div class="container-sm">
          <div class="row m-3">
            <button type="button" id="check" disabled onclick="return submitScenario(event)" class="btn btn-primary text-white" data-bs-toggle="tooltip" data-bs-placement="top" title="Check as often as you like to check the syntax and autoformat your rule. Checking will not run tests against PCAPs.">Check</button>
          </div>
          <div class="row m-3">
            <button type="button" id="submit" disabled onclick="return submitScenario(event)" class="btn btn-primary text-white" data-bs-toggle="tooltip" data-bs-placement="top" title="Submit as often as you like and get feedback at every step. Submitting will run tests against PCAPs.">Submit</button>
          </div>
        </div>
      </div>
    </form>
    <div id="submitted-rule-div" class="container-fluid {% if last_submitted_rule == None %}invisible{% endif %}">
      <div class="row row-cols-auto d-flex align-items-stretch">
        <div class="col-12 col-sm-6">
            <label class="lead p-2" for="submitted-rule">Submitted Rule</label>
            <textarea class="form-control opacity-75" style="min-height:200px" autofocus disabled spellcheck="false" data-gramm="false" wrap="soft" id="submitted-rule" data-bs-toggle="tooltip" data-bs-placement="top" title="This textarea shows the last rule submitted for running tests." placeholder="alert ...">{% if last_submitted_rule %}{{ last_submitted_rule }}{% endif %}</textarea>
        </div>
        <div class="col-12 col-sm-6">
          <label class="lead p-2" for="formatted-submitted-rule">Formatted Submitted Rule</label>
          <div class="border overflow-auto text-nowrap opacity-75" style="min-height:200px" id="formatted-submitted-rule" data-bs-toggle="tooltip" data-bs-placement="top" title="When you submit a rule, a formatted version of your rule will appear in this field.">{% if last_submitted_rule_formatted %}{{ last_submitted_rule_formatted |safe }}{% endif %}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="row row-cols-auto m-3 justify-content-center" id="scenario-navigation">
    </div>
    <div class="container-fluid">
      <div class="row m-3" id="messages"></div>
      </div>
      <div class="row m-3">
        <h3 class="mx-3">Tests</h3>
        <div class="col-12 justify-content-center">
          <div class="row row-cols-auto">
            {% for test in tests %}
              <div class="col-12 col-sm-6 align-items-stretch" style="min-width:150px">
                <div class="card my-2 w-100 bg-primary">
                  <div class="card-body">
                    <h5 class="card-title">{{ test.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ test.pcap.title }}</h6>
                    <p class="card-text">{{ test.pcap.note }}</p>
                    <div class="container p-1">
                      {% if test.expected %}
                        <em class="card-text">Should raise one alert.</em>
                      {% else %}
                        <em class="card-text">Should raise zero alerts.</em>
                      {% endif %}
                    </div>
                    {% if is_staff and test.hidden %}
                    <div class="container p-1">
                      <em class="card-text">This test is not visible to regular users.</em>
                    </div>
                    {% endif %}
        
                    <div class="container p-1">
                      <a href="{{ test.pcap.pcap.url }}" rel="nofollow" target="_blank" class="m-1 d-inline-flex text-white" data-bs-toggle="tooltip" data-bs-placement="right" title="Click here to download the scenario PCAP and to investigate the test in more detail."><i class="bi bi-ethernet me-1"></i>PCAP</a>
                      {% if test.pcap.reference_link %}
                        <a href="{{ test.pcap.reference_link }}" rel="nofollow" target="_blank" class="m-1 d-inline-flex text-white" data-bs-toggle="tooltip" data-bs-placement="right" title="Click here to learn more about the source of the PCAP."><i class="bi bi-journal-text me-1"></i>Reference</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <h4 class="mx-3">Test results</h3>
        <div id="status" action="{% url 'main:status' scenario.id %}"></div>
      </div>
    </div>
  </div>
</div>
<div aria-live="polite" aria-atomic="true" class="position-relative">
  <div class="toast-container position-fixed bottom-0 start-0 p-3">
    <div id="liveToastCheck" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header text-bg-primary" style="--bs-bg-opacity: .5;">
        <i class="bi bi-info-circle-fill"></i>
        <strong class="me-auto">CTF</strong>
        <small>now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Rule is being submitted for checking.
      </div>
    </div>
    <div id="liveToastSubmit" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header text-bg-primary" style="--bs-bg-opacity: .5;">
        <i class="bi bi-info-circle-fill"></i>
        <strong class="me-auto">CTF</strong>
        <small>now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Rule is being submitted for running tests.
      </div>
    </div>
    <div id="liveToastCheckAnalyzed" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header text-bg-primary" style="--bs-bg-opacity: .5;">
        <i class="bi bi-info-circle-fill"></i>
        <strong class="me-auto">CTF</strong>
        <small>now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Rule has been checked, formatted, and saved.
      </div>
    </div>
    <div id="liveToastSubmitAnalyzed" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header text-bg-primary" style="--bs-bg-opacity: .5;">
        <i class="bi bi-info-circle-fill"></i>
        <strong class="me-auto">CTF</strong>
        <small>now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Rule has been checked, formatted, and saved. Test results will appear automatically once tests have been run.
      </div>
    </div>
    <div id="liveToastNextScenario" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header text-bg-primary" style="--bs-bg-opacity: .5;">
        <i class="bi bi-info-circle-fill"></i>
        <strong class="me-auto">CTF</strong>
        <small>now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        The next scenario has been unlocked. You can now switch back and forth between scenarios.
      </div>
    </div>
    <div id="liveToastTestsUpdated" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header text-bg-primary" style="--bs-bg-opacity: .5;">
        <i class="px-1 bi bi-info-circle-fill"></i>
        <strong class="me-auto">CTF</strong>
        <small>now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        The status of a test has changed. Test results have been updated.
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/scenario.js' %}"></script>
{% endblock %}