django~=5.1
django-debug-toolbar~=4.0
psycopg[binary]~=3.0
uwsgi~=2.0
tzdata
pymemcache
idstools
PyYAML
deepmerge
pandas[performance]~=2.0
openpyxl
scikit-learn
psutil
pyarrow
suricata-check[performance,ml]>=0.5.4beta0
cacheout
levenshtein
multiset